# Definitions & Basic Operations

In [1]:
# Dataframes: a 2-dimensional data structure, which stores data in rows & columns
# Series/ series object: a one-dimensional array with labels (index), based on NumPy ndarray. 
# Ndrray? ... An n-dimensional data structure that contains a group of elements - more efficient than
# Python lists - allow for use of vectorisation rather than loops (higher performance).

import pandas as pd

# I can create a pandas series from a dict. The keys are the indices.
dict={1: "a", 2: "b"}
dict1=pd.Series(dict)
print(dict1)

1    a
2    b
dtype: object

In [3]:
# I can also create a series from a list. Indeces are created automatically.

ls=[1,2,3]
ls1=pd.Series(ls)
print(ls1)

0    1
1    2
2    3
dtype: int64

In [4]:
# I can also create a series with indeces from scratch

oneD = pd.Series(["A","B","C"], index=[1,2,3])
print(oneD)

1    A
2    B
3    C
dtype: object

In [5]:
# I can access the data by index through loc

oneD.loc[1]

'A'

In [6]:
oneD.loc[[1,2]]

1    A
2    B
dtype: object

In [7]:
# I can use iloc to access the data by integer based index position

oneD.iloc[1]

'B'

In [11]:
# I can check whether an index is included in a series...

1 in oneD

True

In [12]:
#... but not a value

"B" in oneD

False

In [20]:
# I can create a dataframe from scratch using a dictionary

d={"Column A": pd.Series(["A","B","C"], index=[1,2,3]),
    "Column B": pd. Series(["D", "E", "F", "G"], index=[2,3,4,5])}

df=pd.DataFrame(d)
print(df)

  Column A Column B
1        A      NaN
2        B        D
3        C        E
4      NaN        F
5      NaN        G

In [21]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [23]:
# Get index values

df.index

Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [24]:
# Get column names

df.columns

Index(['Column A', 'Column B'], dtype='object')

In [29]:
# I can manipulate the dataframe to retain only a certain column/ index

pd.DataFrame(df, index=[1,2,3], columns=["Column B"])

  Column B
1      NaN
2        D
3        E

# Reading in Data

## Read in csv

In [32]:
file="C:\\Users\\franz\\Documents\\Git Repository\\data-science-training\\test_csv.csv" #Note,
# need to enter two backslashes

df=pd.read_csv(file)

df.head()

   Test 1  Test 2
0       1     500
1       2     600
2       3     700
3       4     800
4       5     900

In [34]:
# Sometimes, source data is not arranged in separate columns. If the separator is not a ",", then
# need to specify separator

file="C:\\Users\\franz\\Documents\\Git Repository\\data-science-training\\test_csv 2.csv"

df=pd.read_csv(file)

print(df)

  Test 1; Test 2
0         1; 500
1         2; 600
2         3; 700

In [35]:
df=pd.read_csv(file, sep=";")

print(df)

   Test 1   Test 2
0       1      500
1       2      600
2       3      700

## Read in txt files

Also use read_csv & specify separator like above